<body bgcolor = "black" >
<center>
<font color = "lime">
<h1><marquee>Hello Records</marquee></h1>
<hr>
<h1>Articles</h1>

<table border = 3 cellpadding = "10">
<thead>
    <th>ID</th>
    <th>Record</th>
    <th>Description</th>
    <th>Created at</th>
    <th>Updated at</th>
    <%# <th>Tag</th> %>
    <th>Ruby tag</th>
</thead>
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.id%></td>
      <td><%= article.title%></td>
      <td><%= article.body%></td>
      <td><%= article.created_at%></td>
      <td><%= article.updated_at%></td>
      <!--<td><a href="/articles/<%= article.id%>">Record <%= article.id%></a></td>-->
      <td><%= link_to "Record #{article.id}", article%> <%# "/articles/#{article.id}" %>
    </tr>
  <% end %>
</table>
</font>
</center>
</body>

